In [ ]:

# cadena  = ["Lunes","Martes",'Miercoles']
# #Identación
# #Sección uno del libro
# for i in cadena:
#   print(i)
#   # f(format)
#   print(f"su es nombre es {i}")
# #sección dos
# print("Fuera de ciclo for")

for i in range(10,2,-1):
  print(f"El exponente de {i} es: {i**2}")
print("El bucle ha finalizado")

El exponente de 10 es: 100
El exponente de 9 es: 81
El exponente de 8 es: 64
El exponente de 7 es: 49
El exponente de 6 es: 36
El exponente de 5 es: 25
El exponente de 4 es: 16
El exponente de 3 es: 9
El bucle ha finalizado

In [ ]:

# Bucle for (para)
cadena = ["lunes", "martes", "miercoles", "jueves", "viernes", "sabado", "domingo"]
for i in cadena:
  print(i)
  print("Día de la semana")

lunes
Día de la semana
martes
Día de la semana
miercoles
Día de la semana
jueves
Día de la semana
viernes
Día de la semana
sabado
Día de la semana
domingo
Día de la semana

In [1]:
cadena =["sayad", "kate", "cris", "jhon"]
for i in cadena:
    print(f"su nombre es {i}")

su nombre es sayad
su nombre es kate
su nombre es cris
su nombre es jhon

In [ ]:
a = "a"
while a == "a":
  print("se cumple la condicion")
  break


print("el bucle While finalizo")

se cumple la condicion
el bucle While finalizo

In [ ]:
# i es una variable local
for u in range(0,10):
  print(f"El exponente de {u} es: {u**2}")
  if u == 3:
    break

print("El bucle ha finalizado")

El exponente de 0 es: 0
El exponente de 1 es: 1
El exponente de 2 es: 4
El exponente de 3 es: 9
El bucle ha finalizado

In [ ]:
for i in range(0,9):
  if i % 2 == 0:
    continue
  print(f"El exponente de {i} es: {i**2}")

print("El bucle ha finalizado")

El exponente de 1 es: 1
El exponente de 3 es: 9
El exponente de 5 es: 25
El exponente de 7 es: 49
El bucle ha finalizado

In [ ]:
0 % 2

0

FUNCIONES

In [ ]:
#Programación estructurada
#def(funcion), nombre y realizar una tarea
def comparar_letras(caracter,comparacion):
  while caracter == comparacion:
    print("Se cumple la condición")
    break

caracter = "Claudia"
comparacion = "Claudia"

#Invocar una función (con el nombre de la función)
# Pasar los argumentos (caracter, comparacion)
comparar_letras(caracter,comparacion)

Se cumple la condición

In [3]:
def comparar_numeros(inicio,fin,divisor):
  for i in range(inicio,fin):
    if i % divisor == 0:
      continue
  print(f"El exponente de {i} es: {i**2}")
# Posicion en una lista[0,1,2]
inicio = [1,2,3]
fin = [10,100,200]
divisor = [2,3,4]

comparar_numeros(inicio[1],fin[0],divisor[2])

El exponente de 9 es: 81

In [2]:
def sumar(numero_uno,numero_dos):
  suma = numero_uno+numero_dos
  print(suma)

numero_uno = [1,2,3,4,5,7,8,9]
numero_dos = [4,5,6,7,8,9,10,11]

sumar(numero_uno[1],numero_dos[3])

9

In [ ]:

#Seccion uno
def suma(sumar_numeros,Lista_uno):
  #seccion 1.1
  for i in Lista_uno:
    #seccion 1.1.1
    sumar_numeros += i
    #seccion 1.1.2
  print(f"el valor de la suma es: {sumar_numeros}")
#Seccion dos
print("texto")

Lista_uno = [1,2,3,4,5,8,15,20,54]
sumar_numeros = 0

suma(sumar_numeros,Lista_uno)

texto
el valor de la suma es: 112

In [ ]:
def multiplicar(n):
  n*= 2
  # print(n)

n = 10
multiplicar(n)
print(n)

def operacion(ns):
  return ns*5

ns = 5
ns = operacion(ns)
print(ns)

10

In [ ]:
def multiplicar(ns):
  for i,j in enumerate(ns):
    ns[i] *= 2
    return ns

ns =[10,50,100]

cp = multiplicar(ns[:])
print(ns)
print([20,100,200])

[10, 50, 100]
[20, 100, 200]

In [10]:
n = (14,15,16)
m = [14,15,16]
print(n)
m[0] =12
print(m)

dicionario = {"nombre":12}
print(dicionario)

(14, 15, 16)
[12, 15, 16]
{'nombre': 12}

In [11]:
# Creación de un diccionario
mi_diccionario = {'clave1': 'valor1', 'clave2': 'valor2', 'clave3': 'valor3'}

# Acceso a un valor mediante su clave
valor = mi_diccionario['clave1']  # Salida: 'valor1'

# Agregar un nuevo par clave-valor
mi_diccionario['clave4'] = 'valor4'

# Modificar un valor existente
mi_diccionario['clave1'] = 'nuevo_valor1'

# Eliminar un par clave-valor
del mi_diccionario['clave2']

# Iterar sobre las claves y valores
for clave, valor in mi_diccionario.items():
    print(f"Clave: {clave}, Valor: {valor}")

Clave: clave1, Valor: nuevo_valor1
Clave: clave3, Valor: valor3
Clave: clave4, Valor: valor4